

/* Sección cursos */

.curse_container{
    display: flex;
    flex-direction: column;
    padding: 8%;
    gap: 2rem;
}

.curse_container_info{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
    text-align: left;
    gap: 16px;
}

/* Seccion sobre nosotros */

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    gap: 2rem;
    background-color: var(--color-bg-secondary);
}

.we_section_container_info{
    text-align: center;
}

.benefits{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 24px;
}

.benefit-card{
    flex: 1;
    align-items: left;
    background-color: var(--color-bg-primary);
    padding: 24px;
    border: solid var(--color-accent);
    border-radius: 8px;
    gap: 24px;
}

.benefit-card__icon {
    height: 40px;
}
/* Sección logos de empresas */

.companies_container_slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
