@media (min-width:1000px) {

    /* CTA */

    .cta_container_info__title {
        width: 50%;
    }

    .cta_container_info__paragraph {
        width: 50%;
    }

    /* Home */

    .curse_container {
        display: flex;
        flex-direction: row;
    }


    .we_section_container_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;
        align-items: stretch;
    }

    .we_section_container_cards__card {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        box-sizing: border-box;
        border-radius: 0.75rem;
        background: var(--gray-background);
    }

    .we_section_container_cards__icon {
        height: 40px;
    }

    /* Quali */

    .section_quali_container {
        display: flex;
        flex-direction: row;
    }

    .section_quali_container__text {
        width: 100%;
    }

    .section_quali_container__img {
    width: 100%;
}

    .section_objetive_quali {
        display: flex;
        flex-direction: row;
    }

    .section_objetive_quali__text {
        width: 50%;
    }

    .we_section_container_cards__icon {
    height: 40px;
}

.section_quali_container__img {
    order: 1;
}

    /* Cursos */


    .section_cursos_container {
        display: flex;
        flex-direction: row;
    }

    .curse_detail_container__cards {
        display: flex;
        flex-direction: row;
    }

    .section_cursos_container {
        display: flex;
        flex-direction: row;
    }

    /* Single_curso */

    .section_description_curse_container {
        display: flex;
        flex-direction: row;
    }

    .card_container {
        order: 2;
    }

    .description_curse {
        width: 60%;
        display: flex;
    }

}