.register_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8%;
    justify-content: center;
    align-items: center;
}

.section_register_inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.section_register_description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section_register_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    gap: 1rem;
}

.section_register_inputs__campo {
    border: none;
    border-bottom: solid var(--black-border);
    flex: 1;
}

.section_register_inputs__label {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
}