:root {
    --color-primario: #1A2E66;
    --color-secundario: #F4B942;
    --color-enfasis: #42D796;
    --white-text: #ffffff;
    --black-text: #000000;
    --paragraph-text: #333333;
    --white-background: #ffff;
    --gray-background: #fafafa;
    --black-border: #020202;
}

body {
      font-family: "Inter", sans-serif;
    }

    .navbar-custom {
      background-color: var(--color-primario);
    }

    .navbar-brand {
      font-weight: bold;
      color: var(--color-enfasis) !important;
      font-size: 1.5rem;
    }

    .nav-link {
        color: var(--white-text);
    }

    .nav-link:hover {
        color: var(--color-secundario);
        font-weight: 600;
    }

    .btn-custom {
      background-color: var(--color-secundario);
      color: var(--black-text);
      font-weight: 600;
      border-radius: 30px;
      padding: 0.4rem 1.2rem;
    }

    footer {
      background-color: var(--color-primario);
    }

    footer a {
      color: var(--white-text);
      text-decoration: none;
      margin: 0 10px;
    }

    footer a:hover {
      text-decoration: underline;
    }

     @media (max-width: 991.98px) {

    .navbar-collapse {
      position: absolute;
      top: 100%;             /* justo debajo del navbar */
      right: 1rem;           /* alineado al icono de hamburguesa */
      width: 260px;          /* ancho fijo del panel */
      background-color: var(--color-primario); /* fondo igual al navbar */
      box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
      padding: 1rem;
      z-index: 1000;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;  /* 👈 espacio entre enlaces */
    }

    .nav-link:active {
        color: var(--color-secundario);
        font-weight: 600;
    }

    .navbar-collapse form,
    .navbar-collapse .btn {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

  }

