* {
    padding: 0;
    margin: 0;
}

:root {
    --color-primario: #1A2E66;
    --color-secundario: #F4B942;
    --color-enfasis: #42D796;
    --white-text: #ffffff;
    --black-text: #000000;
    --paragraph-text: #333333;
    --white-background: #ffff;
    --gray-background: #fafafa;
    --black-border: #020202;
}

/* Estilos globales */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
    animation: fadeIn 0.6s forwards;
    max-width: 1280px;
    margin: 0 auto;
}

main {
  flex: 1;
}

/* Animación al entrar */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Inter', sans-serif;
}

h1 {
    color: var(--color-secundario);
    font-size: clamp(2rem, 5vw, 2.5rem);
    /* 32px a 40px */
    font-weight: 700;
}

h2 {
    color: var(--black-text);
    font-size: clamp(1.75rem, 4vw, 2rem);
    /* 28px a 32px */
    font-weight: 700;
}

h3 {
    color: var(--color-secundario);
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    /* 20px a 24px */
    font-weight: 500;
}

h4 {
    color: var(--black-text);
    font-size: clamp(1rem, 2.5vw, 1.125rem);
    /* 16px a 18px */
    font-weight: 500;
}

p {
    color: var(--paragraph-text);
    font-size: clamp(0.875rem, 2vw, 1rem);
    /* 14px a 16px */
    font-weight: 300;
}

/* Botones */

.btn_primary {
    width: fit-content;
    padding: 12px 16px;
    background-color: var(--color-enfasis);
    color: var(--black-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn_primary>a {
    color: var(--black-text);
    text-decoration: none;
    font-weight: 700;
}

.btn_secondary {
    width: fit-content;
    background-color: var(--white-background);
    padding: 12px 16px;
    color: var(--color-enfasis);
    border: solid var(--color-enfasis);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.btn_secondary>a {
    color: var(--color-enfasis);
    text-decoration: none;
    font-weight: 700;
}

/* Estados de botones/animaciones */
.btn_primary:hover {
    background: var(--color-secundario);
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.btn_primary:active {
    background: var(--color-enfasis);
    transform: scale(0.95);
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn_secondary:hover {
    /* 🎨 Fondo gradiente animado */
    background: linear-gradient(100deg, #42D796, #F4B942);
    background-size: 600% 600%;
    animation: gradientMove 3s ease infinite;
    a {
        color: var(--black-text);
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn_secondary:active {
    transform: scale(1.05);
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Iconos detalle */

.icon_detail_primary {
    width: 100px;
}

.icon_detail_secondary {
    width: 48px;
}

/* Header principal */

.navbar-custom {
      background-color: var(--color-primario);
    }

    .navbar-brand {
      font-weight: bold;
      color: var(--color-enfasis) !important;
      font-size: 1.5rem;
    }

    .nav-link {
        color: var(--white-text);
    }

    .nav-link:hover {
        color: var(--color-secundario);
        font-weight: 600;
    }

    .btn-custom {
      background-color: var(--color-secundario);
      color: var(--black-text);
      font-weight: 600;
      border-radius: 30px;
      padding: 0.4rem 1.2rem;
    }

/* Hero */

.hero_container {
    background-image: linear-gradient(#1A2E66, #1a2e6600), url(../img/HERO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
}

.hero_container_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    color: var(--white-text);
    width: 100%;
}

.container_info__paragraph {
    color: var(--white-text);
}

/* Desplegables */

.curse_container_collapsible {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
}

.curse_container_collapsible__option {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
    gap: 0;
    background-color: var(--gray-background);
    color: var(--paragraph-text);
    padding: 10px;
    border: none;
    border-bottom: solid var(--color-enfasis);
}

/* CTA */

.cta_container {
    background-image: linear-gradient(#1A2E66, #1a2e6600), url(../img/CTA.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10%;
    color: var(--white-text);
}

.cta_container_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
    text-align: left;
}

.cta_container_info__title {
    width: 100%;
}

.cta_container_info__paragraph {
    color: var(--white-text);
    width: 100%;
}

/* Footer principal */

footer {
      background-color: var(--color-primario);
    }

    footer a {
      color: var(--white-text);
      text-decoration: none;
      margin: 0 10px;
    }

    footer a:hover {
      text-decoration: underline;
    }

    @media (max-width: 991.98px) {

    .navbar-collapse {
      position: absolute;
      top: 100%;             
      right: 1rem;          
      width: 260px;          
      background-color: var(--color-primario);
      box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
      padding: 1rem;
      z-index: 1000;
    }

    .navbar-nav {
      display: flex;
      flex-direction: column;
      gap: 0.75rem; 
    }

    .nav-link:active {
        color: var(--color-secundario);
        font-weight: 600;
    }

    .navbar-collapse form,
    .navbar-collapse .btn {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

  }

  